
/* Color */

:root {
	--blue-magenta: #704E8F;
	--earthborn-bugle: #F7F7F7;
	--green: #2ACA44;
	--medium-light-red: #FF5F5A;
	--very-dark-gray: #1E1E1E;
	--white: #FFFFFF;
	--yellow: #FFBE2E;
}

/* General */

* {
	box-sizing: border-box;
	font-family: sans-serif;
	font-size: 17px;
	font-weight: 300;
	letter-spacing: 1px;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

body {
	background-color: var(--white);
	color: #373D48;
	overflow-x: hidden;
}

/* Header */

nav {
	background-color: var(--very-dark-gray);
	box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
	height: 100px;
	width: 100%;	
	z-index: 10;
}

.header {
	display: flex;
	height: 100%;
	margin: auto;
	max-width: 1400px;
}

/* */

.left-container {
	align-items: center;
	display: flex;
}

.left-circle {
	border-radius: 50%;
	height: 30px;
	margin-right: 20px;
	width: 30px;
}

.left-circle:nth-child(1) {
	background-color: var(--medium-light-red);
}

.left-circle:nth-child(2) {
	background-color: var(--yellow);
}

.left-circle:nth-child(3) {
	background-color: var(--green);
}

/* */

.navigation-container {
	display: flex;
	width: 100%;
}

.navigation {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: right;
	list-style: none;
	margin-left: 30%;
	width: 100%;
}

.navigation-item {
	margin-left: 70px;
}

.navigation-item a {
	color: var(--white);
	text-decoration: none;
}

.navigation-item-active, .navigation-item a:hover {
	color: var(--yellow);
}

/* */

footer {
	background-color: #494949;
	color: var(--white);
	text-align: center;
	padding-bottom: 20px;
	padding-top: 20px;
}

/* Main */

.main {
	display: flex;
	flex-direction: row;
	height: 100%;
	margin: auto;
	max-width: 1150px;
	padding-bottom: 90px ;
	padding-top: 90px;
}

/* */

.main-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	width: 45%;
}

.main-text h1 {
	font-size: 35px;
	font-weight: 600;
}

.main-text h2 {
	font-size: 27px;
	font-weight: 600;
	margin-top: 100px;
}

/* */

.main-animation {
	align-items: center;
	display: flex;
	justify-content: center;
	width: 55%;
}

.main-animation-gif {
	width: 75%;
}

/* Register */

.register {
	display: flex;
	flex-direction: row;
	height: 100%;
	margin: auto;
	max-width: 1150px;
	padding-bottom: 50px;
	padding-top: 50px;
}

/* */

.register-animation {
	align-items: center;
	display: flex;
	width: 45%;
}

.register-animation-gif {
	width: 90%;
}

/* */

.register-form {
	align-items: center;
	display: flex;
	background-color: var(--earthborn-bugle);
	border-radius: 10px;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
	width: 55%;
}

.title-design {
	height: 100%;
}

.title-design-color {
	background-color: var(--blue-magenta);
	height: 60px;
	margin-top: 45px;
	width: 45px;
}

.register-container {
	padding-bottom: 45px;
	padding-top: 45px;
}

.register-container p {
	margin-bottom: 5px;
}

.register-form-tdspace {
	width: 40px;
}

.register-form input {
	border-radius: 5px;
	border-width: 1px;
	margin-bottom: 20px;
	padding: 7px;
	width: 250px;
}

.register-form tr:nth-child(1) {
	height: 80px;
}

.register-form tr:nth-child(1) div {
	align-items: center;
	background-color: var(--blue-magenta);
	border-radius: 0 5px 5px 0;
	display: flex;
	color: var(--white);
	font-size: 21px;
	font-weight: 600;
	height: 60px;
	margin-bottom: 30px;
}

.submit {
	background-color: var(--blue-magenta);
	border: 0px;
	border-radius: 5px;
	color: white;
	cursor: pointer;
	height: 45px;
	width: 130px;
}

/* Schedule */

.schedule {
	border-radius: 10px;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
	display: flex;
	flex-direction: column;
	height: 100%;
	margin: auto;
	margin-bottom: 50px;
	margin-top: 50px;
	max-width: 1300px;
}

/* */

.schedule h1 {
	margin-top: 50px;
	font-size: 24px;
	font-weight: 600;
	text-align: center;
}

/* */

.schedule-container table {
	border-radius: 10px;
	margin: 50px;
	width: calc(100% - 100px);
}

.schedule-container thead {
	background-color: var(--blue-magenta);
}

.schedule-container thead tr {
	border-radius: 10px;
}

.schedule-container thead td {
	color: var(--white);
}

.schedule-container tr td:nth-child(1) {
	border-radius: 5px 0 0 5px;
}

.schedule-container tr td:last-child {
	border-radius: 0 5px 5px 0;
}

.schedule-container td {
	height: 40px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
	width: 200px;
}

.schedule-container tr:nth-child(even) {
	background-color: var(--earthborn-bugle);
}

.schedule-subject-1 {
	background-color: #FFE599;
	border-radius: 0px;
	position: relative;
	overflow: hidden;
}

.schedule-subject-1:before {
	background: #FFD047;
	border-color: var(--white) #FFD047 #FFD047 var(--white);
	border-style: solid;
	border-width: 10px 10px 10px 10px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	content: "";
	left: 0;
	position: absolute;
	top: 0;
}

.schedule-subject-2 {
	background-color: #F7CAAC;
	border-radius: 0px;
	position: relative;
	overflow: hidden;
}

.schedule-subject-2:before {
	background: #F09960;
	border-color: var(--white) #F09960 #F09960 var(--white);
	border-style: solid;
	border-width: 10px 10px 10px 10px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	content: "";
	left: 0;
	position: absolute;
	top: 0;
}

.schedule-subject-3 {
	background-color: #DBDBDB;
	border-radius: 0px;
	position: relative;
	overflow: hidden;
}

.schedule-subject-3:before {
	background: #AFAFAF;
	border-color: var(--white) #AFAFAF #AFAFAF var(--white);
	border-style: solid;
	border-width: 10px 10px 10px 10px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	content: "";
	left: 0;
	position: absolute;
	top: 0;
}

.schedule-subject-4 {
	background-color: #C5E0B3;
	border-radius: 0px;
	position: relative;
	overflow: hidden;
}

.schedule-subject-4:before {
	background: #99C97A;
	border-color: var(--white) #99C97A #99C97A var(--white);
	border-style: solid;
	border-width: 10px 10px 10px 10px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	content: "";
	left: 0;
	position: absolute;
	top: 0;
}

.schedule-subject-5 {
	background-color: #BDD6EE;
	border-radius: 0px;
	position: relative;
	overflow: hidden;
}

.schedule-subject-5:before {
	background: #79ACDD;
	border-color: var(--white) #79ACDD #79ACDD var(--white);
	border-style: solid;
	border-width: 10px 10px 10px 10px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	content: "";
	left: 0;
	position: absolute;
	top: 0;
}